* {
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/pexels-resourceboy-18541708.jpg);
    background-size:100%;
    background-repeat: no-repeat; /*cuando estiro la pantalla en modo ventana, el fondo se corta y muestra bordes blancos*/
}

#contenedor {
    background-color: bisque;
    max-width: 1200px;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 20px;
}

h1 {
    background-color: yellowgreen;
    border-radius: 30px;
    padding: 1rem;
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}
   
p { 
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style: normal;
}


.carta {
    background-color: rgb(150, 190, 224);
    padding: 3px;
    padding-left: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.contenido {
    background-color: rgb(177, 136, 75);
    padding: 1rem;
    margin: 1rem;
}

a {
    color: rgb(245, 91, 80);
    text-decoration: none;
    font-family: "SN Pro", sans-serif;
}

